{% extends "taches/Layout.html" %}
{% load static %}
{% block content %} 
    <div class="container-xxl py-5 bg-primary hero-header mb-5">
      <div class="container my-5 py-5 px-lg-5">
        <div class="row g-5 py-5">
          <div class="col-lg-6 text-center text-lg-start">
              <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Enregistrer" class="btn btn-info" >
                <a href="{% url 'tache_list' %}" class="btn btn-primary">Annuler</a>
            </form>
          </div>
          <div class="col-lg-6 text-center text-lg-start">
              <hr>
              
              </hr>
            <img
              class="img-fluid"
              src="{% static 'img/hero.png' %}"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
    </div>         
  {% endblock %}

